
:root{
    --red: #f00;
    --fontFamily: 'Courier New', Courier, monospace,sans-serif;
    --white: #fff;
    --black: #000;
    --lightgray: lightgray;
    --lightgrey: #717171;
    --grey: grey;
}
.header_container{
    display: flex;
    border: 1px none var(--grey);
    border-top-style: solid;
    border-bottom-style: solid ;
}

#logo_box{
    color: var(--red);
    font-family: var(--fontFamily);
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding-top: 30px;
    width: 40%;
}
#searchBox{
    border: 3px solid var(--lightgray);
    border-style: groove;
    border-radius: 20px;
    padding: 20px;
    padding-left: 20px;
    text-align: center;
    margin: 20px;
    width: 20%;

}
#searchBox:hover{
    cursor: pointer;
}
.button{
border: none;
background-color: var(--white);
color: var(--black);    
}
#sideBox{
    display: flex;
    flex-basis:  30%;
    margin: auto;
    padding: 20px 10px;
    justify-content: flex-end;
}
#home{
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
    border: var(--white);
    font-weight: bold;
    margin-right: 0px;
    cursor: pointer;
}
#home:hover{
    background-color: var(--white);
    border-radius: 30px; 
}

#language{
    padding-top: 10px;
    padding-bottom: 10px;
    border: var(--white);
    text-decoration: none;   
}
#searchBox #anywhereButton,#anytimeButton{                      
    cursor: pointer;
    border-right: 1px solid var(--red);  
}
#searchBox #guestButton{
    cursor: pointer;
    color: var(--lightgray);  
}
#fvt{
    padding-top:20px;
    padding-bottom: 20px;
}
#languageButton{
    padding: 10px 10px;
}
#languageButton:hover{
    cursor: pointer;
    background-color: var(--white);
    border-radius: 30px; 
}
#search{
   background-color: var(--red);
   border-radius: 20px;
   cursor: pointer;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 30px;
}
.navButton{
    padding: 0;
    background: var(--white);
    border: var(--white) 1px solid;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}
.iconContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: var(--lightgrey);
    opacity: 0.5;
    
}
.iconContainer:hover{
    border-bottom: 3px solid black;
    cursor: pointer;
    color: black;
    opacity: 1;
}
.navName{
    font-size: small;
    align-self: center;
}
.cardContainer{
    display: flex;
    min-width: 500px;
    gap: 10px;
}
.cardImg{
    border-radius: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}
#name_rating{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    font-weight: bold;
}
.card{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-width: 300px;
    flex-shrink: 0;
}
#rate{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}
#distance,#date{
    font-weight:lighter;
    width: 50%;
}

.btn, .removeBtn{
    text-decoration: none;
    border: none;
    background-color: var(--white);
}
