*{
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.clear{
    clear: both;
}
h1{
    color: #fff;
    text-align: center;
    font-size: 42px;
}
.container{
    display: flex;
    box-sizing: border-box;
    border: 1px ;
    border-top-style: solid;
    border-bottom-style: solid ;
    border-color: grey;

}
#logo{
    color: red;
    box-sizing: border-box;
    display: block;
    font-family: 'Courier New', Courier, monospace,sans-serif;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;

}
#box1{
    
    padding-top: 10px;
    width: 30%;
}
#box2{
    
    border: 3px solid lightgray;
    border-style: groove;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 30%;

}
#box2:hover{
    cursor: pointer;
    box-shadow: blueviolet;
}
.b{
border: none;
background-color: #fff;
color: #000;    
}

#box3{
    box-sizing: border-box;
    display: flex;
    width: 30%;
    margin: auto;
    padding: 20px 10px;
    justify-content: flex-end;
}
#home{
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
    border: #fff;
    font-weight: bold;
    margin-right: 0px;

}
#home:hover{
    
    background-color: rgb(231, 225, 225);
    border-radius: 30px; 
}

#language{
    padding-top: 10px;
    padding-bottom: 10px;
    border: white;
    text-decoration: none;
    
    /* background: url('./browser.png') no-repeat center center/cover;;
      background-attachment: fixed;
      background-color: #fff; */
}
/* why without box2 it is not working */

#box2 #b1,#b2{                      
    cursor: pointer;
    border-right: 1px solid red;
    /* border-left: 1px solid red; */
}
#box2 #b3{
    cursor: pointer;
    color: lightgray;
    
}
#bl{
    padding: 10px 10px;
}
#bl:hover{
cursor: pointer;
background-color: rgb(231, 225, 225);
    border-radius: 30px; 
}
#b4{
    width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}